html, body {
  height: 100%;
  width: 100%;
  background: #2c5057;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  font-family: 'Caveat', cursive;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

h1 {
  width: 100%;
  line-height: 100%;
  text-align: center;
  color: #4c8898;
}

.message {
  position: absolute;
  left: 130px;
  margin-left: 50px;
  bottom: 8%;
  max-width: calc(100% - 190px);
  width: 0px;
  background: #dedede;
  height: 300px;
  border-radius: 20px;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  
}

.message::after {
  content: '◀';
  position: fixed;
  top: calc(92% - 75px);
  transform: translateX(-20px) scale(2.46);
  color: #dedede;
}

.messageClose {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.messageContainer {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: calc(100vw - 190px);
  position: absolute;
  top: 0;
  right: 0;
}

.messageContainer h2, .messageContainer p {
  text-align: center;
  margin: 10px;
}

.messageContainer h2 { 
  font-size: 2rem
}

.messageContainer p {
  font-size: 1.5rem
}

.messageDuck {
  transition: all 1s, filter 1s ease-in-out 1s;
  transform: scaleX(-1) rotate(30deg) scale(2) !important;
  top: calc(100% - 50px) !important;
  right: calc(100% - 50px) !important;
  z-index: 2;
  filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.5));
  pointer-events: none;
}

.messageButtons {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
}

.messageButtons button {
  border: 0;
  padding: 13px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  flex: 1;
}

.messageButtons button:hover {
  filter: brightness(0.8);
}

.messageButtons #no {
  background: #e2b1b1;
}

.messageButtons #yes {
  background: #8de9ba;
}

.lightbulb {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  opacity: 0.5;
  transition: 1s;
}

.lightbulb:hover {
  opacity: 1;
  z-index: 2;
}

.notes {
  z-index: 2;
  top: 80px;
  height: 580px;
  max-height: 60vh;
  width: 350px;
  max-width: calc(100vw - 30px);
  background-image: url("assets/background.png");
  position: absolute;
  right: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.notes h3 {
  font-size: 2.5rem;
  text-align: center;
}

.notes p {
  font-size: 1.5rem;
  margin-left: 30px;
  transition: 1s;
}

.notes p:before {
  position: absolute;
  transform: translateX(-1.7rem);
  content: '☐';
}